// Work in progress
.work-in-progress {
  text-align: center;
  margin-top:50px;
}

// Header
.header {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  &-content {
    margin: 24px;
  }
}