// App main
.app {
  &-header {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  &-content {
    margin: 24px;
  }
}

// About page
.about {
  &-content {
    margin: auto;
    width: 300px;
    border: 3px solid green;
    padding: 10px;
  }
}

