.App {
  text-align: center;
}
.app-header {
  display: flex;
  font-size: calc(10px + 2vmin);
  justify-content: space-evenly;
}

.virstual-list-header {
  display: flex;
  justify-content: flex-end;
  margin-right: 28px;
  margin-top: 28px;
}





